<div>
    <div>
        <div class="row">
            <div class="col-3">
                <mat-card>
                    <mat-card-content>
                        <h3>23434</h3>
                    </mat-card-content>
                   
                    </mat-card>
        
            </div>

            <div class="col-3">
                <mat-card>
                    <mat-card-content>
                        <h3>23434</h3>
                    </mat-card-content>
                   
                    </mat-card>
        
            </div>

            <div class="col-3">
                <mat-card>
                    <mat-card-content>
                        <h3>23434</h3>
                    </mat-card-content>
                   
                    </mat-card>
        
            </div>

            <div class="col-3">
                <mat-card>
                    <mat-card-content>
                        <h3>23434</h3>
                    </mat-card-content>
                   
                    </mat-card>
        
            </div>

         
        </div>
      
        have a table beneath 
        remove users to settings
    
    </div>
  </div>