
<h1 mat-dialog-title>Edit Rider</h1>
<form [formGroup]="riderForm" (ngSubmit)="saveRider(riderForm.value)">
<div mat-dialog-content class="container">
   
    <div class="row justify-content-center">
        <div class="col-md-10 ">
                     <div class="row">
                         <div class="col-6">
                            <mat-form-field appearance="outline"  >
                                <mat-label>First Name </mat-label>
                                <input matInput   formControlName="firstName" >
                                <mat-error *ngIf="riderForm.get('firstName').invalid"> Invalid input </mat-error>
                              </mat-form-field>
                         </div>
                         <div class="col-6">
                            <mat-form-field appearance="outline"  >
                                <mat-label>Last Name</mat-label>
                                <input matInput  formControlName="lastName" >
                                <mat-error *ngIf="riderForm.get('lastName').invalid"> Invalid input </mat-error>
                              </mat-form-field>
                         </div>
                     </div>
              
            
                 
                  <div class="row">
                      <div class="col-6">
                        <mat-form-field appearance="outline"  >
                            <mat-label>Address</mat-label>
                            <input matInput  formControlName="address" >
                            <mat-error *ngIf="riderForm.get('address').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field appearance="outline"  >
                            <mat-label>Date of birth</mat-label>
                            <input matInput  formControlName="dob"  type="date">
                            <mat-error *ngIf="riderForm.get('dob').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                      </div>
                  </div>
    
                  <div class="row">
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput  formControlName="email" >
                            <mat-error *ngIf="riderForm.get('email').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input matInput  formControlName="phone" >
                            <mat-error *ngIf="riderForm.get('phone').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <mat-form-field appearance="outline"  >
                        <mat-label>Gender</mat-label>
                        <mat-select  formControlName="gender">
                            <mat-option>None</mat-option>
                            <mat-option value="male" >Male</mat-option>
                            <mat-option value="female" >Female</mat-option>
                          </mat-select>
                        <mat-error *ngIf="riderForm.get('gender').invalid"> Invalid input </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select  formControlName="status">
                          <mat-option>None</mat-option>
                          <mat-option value="active" >Active</mat-option>
                          <mat-option value="inactive" >Inactive</mat-option>
                        </mat-select>
                      </mat-form-field>
        
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <mat-form-field appearance="outline" style="width: 90%;">
                        <mat-label>Description</mat-label>
                        <textarea matInput  formControlName="description" rows="2" cols="8"></textarea>
                      </mat-form-field>
                    </div>

                    <div class="col-6">
                        <mat-form-field appearance="outline"  >
                          <mat-label>Vehicle</mat-label>
                          <mat-select  formControlName="vehicle" [(value)]="selectedVehicle">
                            <mat-option *ngFor="let vehicle  of vehicles" [value]="vehicle._id">
                                {{vehicle.brand | titlecase}}-{{vehicle.model}} ({{vehicle.color}}) 
                              </mat-option>
                              <mat-option>None</mat-option>
                            </mat-select>
                        </mat-form-field>
                      </div>
                  </div>           
        </div>
    </div>
</div>

<div mat-dialog-actions class="float-right">
    <button mat-raised-button color="primary" class="float-right " type="submit"  [disabled]="!riderForm.valid"> <mat-icon>done</mat-icon> Update Rider</button>
        
</div>
</form>



