<div>
    <div>
        <div class="row">
            <div class="col-4">
                <mat-card>
                    <mat-card-content>
                        <div class="row text-center">
                            <div class="col-md-4 ">
                                <mat-icon color="primary">playlist_add_check</mat-icon>
                            </div>
                            <div class="col-md-8 ">
                                <h4>{{completeOrders}} </h4>
                                <p class="lead"> Completed Orders</p>
                            </div>
                        </div>
                    </mat-card-content>
                   
                    </mat-card>
        
            </div>
            
            <div class="col-4">
                <mat-card>
                    <mat-card-content>
                        <div class="row text-center">
                            <div class="col-md-4 ">
                                <mat-icon color="warn">hourglass_empty</mat-icon>
                            </div>
                            <div class="col-md-8 ">
                                <h4>{{pendingOrders}} </h4>
                                <p class="lead"> Pending Orders</p>
                            </div>
                        </div>
                    </mat-card-content>
                   
                    </mat-card>
        
            </div>

            <div class="col-4">
                <mat-card>
                    <mat-card-content>
                        <div class="row text-center">
                            <div class="col-md-4 ">
                                <mat-icon color="accent">attach_money</mat-icon>
                            </div>
                            <div class="col-md-8 ">
                                <h4>6745</h4>
                                <p class="lead"> Total Revenue</p>
                            </div>
                        </div>
                    </mat-card-content>
                   
                    </mat-card>
        
            </div>


         
        </div>


    </div>
  </div>